<% provide(:title, 'About Us') %>
<h1>About This Project</h1>
<p>
  My first rails app that is an extension of the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl.  It was made to learn Rails and create system for people at the Career Builder office to share/rate snack ideas.
</p>